# Project

# Final Project - Analyzing Sales Data

**Date**: 21 Feb 2023

**Author**: Nutnicha Mekvoravut

**Course**: `Pandas Foundation`

In [2]:
# import data
import pandas as pd
df = pd.read_csv("sample-store.csv")

In [3]:
# preview top 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
# shape of dataframe
df.shape

(9994, 21)

In [5]:
# see data frame information using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

We can use `pd.to_datetime()` function to convert columns 'Order Date' and 'Ship Date' to datetime.

In [6]:
# example of pd.to_datetime() function
pd.to_datetime(df['Order Date'].head(), format='%m/%d/%Y')

In [7]:
# TODO - convert order date and ship date to datetime in the original dataframe
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [8]:
# TODO - count nan in postal code column
df['Postal Code'].isna().sum()
df.isna().sum()

In [9]:
# TODO - filter rows with missing values
df[df['Postal Code'].isna()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2234,2235,CA-2020-104066,2020-12-05,2020-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03,7,0.0,67.6599
5274,5275,CA-2018-162887,2018-11-07,2018-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,...,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20,3,0.0,178.8000
8798,8799,US-2019-150140,2019-04-06,2019-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,...,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75,5,0.0,336.6350
9146,9147,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98,2,0.0,42.9914
9147,9148,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04,6,0.0,2.7336
9148,9149,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29,13,0.0,406.7154
9386,9387,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92,4,0.0,37.5624
9387,9388,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28,1,0.0,5.7716
9388,9389,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94,3,0.0,152.0232
9389,9390,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04,1,0.0,0.9588
9741,9742,CA-2018-117086,2018-11-08,2018-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90,5,0.0,1013.1270

In [10]:
# TODO - Explore this dataset on your owns, ask your own questions
df.groupby('State')['Order ID'].count().sort_values(ascending = False)

## Data Analysis Part

Answer 10 below questions to get credit from this course. Write `pandas` code to find answers.

In [11]:
# TODO 01 - how many columns, rows in this dataset
df.shape

(9994, 21)

In [12]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?
df.isna().sum().sort_values(ascending = False).reset_index()

,index,0
0,Postal Code,11
1,Row ID,0
2,Discount,0
3,Quantity,0
4,Sales,0
5,Product Name,0
6,Sub-Category,0
7,Category,0
8,Product ID,0
9,Region,0
10,State,0
11,Order ID,0
12,City,0
13,Country/Region,0
14,Segment,0
15,Customer Name,0
16,Customer ID,0
17,Ship Mode,0
18,Ship Date,0
19,Order Date,0
20,Profit,0

In [13]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
df.query('State == "California"').to_csv('California data.csv')

In [23]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file
California_Texas_2017_Data = df[((df['State'] == 'California') | (df['State'] == 'Texas'))\
& (df['Order Date'] > '2016-12-31') & (df['Order Date'] < '2018-01-01')]
California_Texas_2017_Data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5,6,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
6,7,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656
7,8,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
8,9,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,5.7825
9,10,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.900,5,0.0,34.4700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9885,9886,CA-2017-112291,2017-04-03,2017-04-08,Standard Class,KE-16420,Katrina Edelman,Corporate,United States,Los Angeles,...,90008.0,West,TEC-AC-10000736,Technology,Accessories,Logitech G600 MMO Gaming Mouse,159.980,2,0.0,57.5928
9903,9904,CA-2017-122609,2017-11-12,2017-11-18,Standard Class,DP-13000,Darren Powers,Consumer,United States,Carrollton,...,75007.0,Central,FUR-FU-10004587,Furniture,Furnishings,"GE General Use Halogen Bulbs, 100 Watts, 1 Bul...",25.128,3,0.6,-6.9102
9904,9905,CA-2017-122609,2017-11-12,2017-11-18,Standard Class,DP-13000,Darren Powers,Consumer,United States,Carrollton,...,75007.0,Central,TEC-AC-10002567,Technology,Accessories,Logitech G602 Wireless Gaming Mouse,127.984,2,0.2,25.5968
9942,9943,CA-2017-143371,2017-12-28,2018-01-03,Standard Class,MD-17350,Maribeth Dona,Consumer,United States,Anaheim,...,92804.0,West,OFF-ST-10001128,Office Supplies,Storage,"Carina Mini System Audio Rack, Model AR050B",998.820,9,0.0,29.9646
9943,9944,CA-2017-143371,2017-12-28,2018-01-03,Standard Class,MD-17350,Maribeth Dona,Consumer,United States,Anaheim,...,92804.0,West,OFF-SU-10002537,Office Supplies,Supplies,Acme Box Cutter Scissors,51.150,5,0.0,13.2990

In [24]:
California_Texas_2017_Data.to_csv('California_Texas_2017_Data.csv')

In [25]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
df[(df['Order Date'] > '2016-12-31') & (df['Order Date'] < '2018-01-01')]\
['Sales'].agg(['sum', 'mean', 'std']).reset_index()

,index,Sales
0,sum,484247.498100
1,mean,242.974159
2,std,754.053357

In [26]:
# TODO 06 - which Segment has the highest profit in 2018
df.groupby('Segment')['Profit'].sum().sort_values(ascending = False).reset_index()

,Segment,Profit
0,Consumer,134119.2092
1,Corporate,91979.1340
2,Home Office,60298.6785

In [27]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019
df[(df['Order Date'] > '2019-04-15') & (df['Order Date'] < '2019-12-31')]\
.groupby('State')['Sales'].sum().sort_values().reset_index().head(5)

,State,Sales
0,New Hampshire,49.05
1,New Mexico,64.08
2,District of Columbia,117.07
3,Louisiana,249.80
4,South Carolina,502.48

In [41]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
data2019 = df[(df['Order Date'] > '2018-12-31') & (df['Order Date'] < '2020-01-01')]
West_Central_sales = data2019[(data2019['Region'] == "Central") | (data2019['Region'] == "West")]['Sales'].sum()
Total_sales = data2019['Sales'].sum()
print(str(round((West_Central_sales/Total_sales * 100),2))+'%')

54.97%

In [80]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020
PopularByOrder = df[(df['Order Date'] > '2018-12-31') & (df['Order Date'] < '2021-01-01')].groupby('Product ID')\
                 ['Order ID'].count().sort_values(ascending = False).head(10).reset_index()
PopularBySales = df[(df['Order Date'] > '2018-12-31') & (df['Order Date'] < '2021-01-01')].groupby('Product ID')\
                ['Sales'].sum().sort_values(ascending = False).head(10).reset_index()

In [81]:
PopularByOrder

,Product ID,Order ID
0,TEC-AC-10003832,15
1,OFF-PA-10001970,13
2,FUR-TA-10001095,12
3,FUR-FU-10004864,12
4,FUR-CH-10003774,11
5,OFF-BI-10000301,10
6,FUR-FU-10004848,10
7,FUR-CH-10001146,10
8,OFF-ST-10001325,10
9,FUR-TA-10003473,9

In [82]:
PopularBySales

,Product ID,Sales
0,TEC-CO-10004722,61599.824
1,TEC-CO-10001449,16079.732
2,TEC-MA-10001047,14299.890
3,OFF-BI-10000545,13621.542
4,OFF-BI-10001359,12737.258
5,OFF-BI-10004995,12521.108
6,TEC-PH-10001459,12263.708
7,FUR-CH-10002024,11846.562
8,OFF-SU-10002881,11825.902
9,FUR-CH-10001215,10169.894

In [85]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)
df['Category'].value_counts().plot(kind = 'bar', color = ['salmon', 'orange', 'gold']);

In [90]:
df[['Sales', 'Order Date']].plot(x='Order Date', y='Sales');

In [91]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions
import numpy as np
df['OrderResult']= np.where(df['Profit']<0,'Loss', 'Profit')
df.groupby('OrderResult')['OrderResult'].count()